body{
    background-color: 	#FFEBCD;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

header{
    background: url(../img/fundoHeader.jpg);
    background-repeat:no-repeat;   
    background-position:center;   
    background-size: cover;
    height: 60vh;
    /* no-repeat;
    background-color: rgba(122, 82, 33, 0.3);
    width: 100%;
    */
}

.vermelhao{
    background-color: rgba(122, 82, 33, 0.7);
    height: 60vh;
}