body{
    background-color: 	#FFEBCD;
}

a.main{
    padding: 15px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

a.main:hover{
    color: black;
    background: white;
}

header{
    background: url(../img/fundoHeader.jpg);
    background-repeat:no-repeat;   
    background-position:center;   
    background-size: cover;
    height: 60vh;
    /* no-repeat;
    background-color: rgba(122, 82, 33, 0.3);
    width: 100%;
    */
}

.custon-bg{
    background-color: rgba(80, 80, 80, 0.7);
    height: 60vh;
}

